[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
# for develop

[dev-packages]
flake8 = "*"
# for on running program 
awsebcli = "*"

[packages]
django = "==2.2.13"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
pipenv-to-requirements = "*"

[requires]
python_version = "3.8"
