{% extends "base.html" %}

{% block page_name %}

    home

{% endblock page_name %}

{% block content %}

    {% for room in rooms.object_list %}

        <h1>{{ room.name }} / {{ room.price }}</h1>
    
    {% endfor %}

    {% if rooms.has_previous %}
    
        <a href="?page={{rooms.number|add:-1}}">Previous</a>

    {% endif %}

    Page {{rooms.number}} of {{rooms.paginator.num_pages}}

    {% if rooms.has_next %}
    
        <a href="?page={{rooms.number|add:1}}">Next</a>

    {% endif %}

    {% comment "" %}
    
        {% for page in rooms.paginator.page_range %}
    
            {{page}}

        {% endfor %}
    
    {% endcomment %}

    {% comment "manually" %}

    {% for room in rooms %}
        <h1>{{ room.name }} / {{ room.price }}</h1>
    {% endfor %}

    {% if page is not 1 %}
        <a href="?page={{page|add:-1}}">Previous</a>
    {% endif %}

    Page {{page}} of {{page_count}}

    {% if not page == page_count  %}
        <a href="?page={{page|add:1}}">Next</a>
    {% endif %}

    {% endcomment %}

    {% comment "show all" %}
        <h5>
            <a href="?page={{page|add:-1}}">Previous</a>
                Page {{page}} of {{page_count}}
            <a href="?page={{page|add:1}}">Next</a>
        </h5>
    {% endcomment %}

    {% comment "all_page" %}
        {% for page in page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}
    {% endcomment %}

{% endblock content %}

<!-- <h1>hello!!!!!</h1>
<h4>The time right now is: {{now}}</h4>
<h5>I'm hungry {{hungry}}</h5>

{% if hungry %}
  <h6>I'm hungry</h6>
{% else %}
  <h6>I'm ok</h6>
{% endif %}

context is a way sending variables to html  -->

{% comment "" %}
block -> window for children template
{% endcomment %}