{% extends "base.html" %}

{% block page_title %}

    home

{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">
        <div class="bg-gray-800 -mx-40 rounded-xl mx-auto h-50vh my-32 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1592722182882-9d5919a9555d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80)"></div>
        {% comment %}
            {{now}}
        {% endcomment %}
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in rooms %}
                {% comment "namespace" %}
                    namespace -> path -> arguments 
                {% endcomment %}
                {% include 'partials/room_card.html' with room=room %}
            
            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto container">
        
            {% if page_obj.has_previous %}
            
                <a class="text-teal-500" href="?page={{page_obj.previous_page_number}}">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>

            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next %}
            
                <a class="text-teal-500" href="?page={{page_obj.next_page_number}}">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>

            {% endif %}

        </div>

        {% comment "next_page_number" %}
            next page number -> returns the next page number. Raises InvalidPage if next page does not exist

            orphans !!
        {% endcomment %}

        {% comment "" %}
        
            {% for page in rooms.paginator.page_range %}
        
                {{page}}

            {% endfor %}
        
        {% endcomment %}

        {% comment "manually" %}

        {% for room in rooms %}
            <h1>{{ room.name }} / {{ room.price }}</h1>
        {% endfor %}

        {% if page is not 1 %}
            <a href="?page={{page|add:-1}}">Previous</a>
        {% endif %}

        Page {{page}} of {{page_count}}

        {% if not page == page_count  %}
            <a href="?page={{page|add:1}}">Next</a>
        {% endif %}

        {% endcomment %}

        {% comment "show all" %}
            <h5>
                <a href="?page={{page|add:-1}}">Previous</a>
                    Page {{page}} of {{page_count}}
                <a href="?page={{page|add:1}}">Next</a>
            </h5>
        {% endcomment %}

        {% comment "all_page" %}
            {% for page in page_range %}
                <a href="?page={{page}}">{{page}}</a>
            {% endfor %}
        {% endcomment %}
    </div>

{% endblock content %}

<!-- <h1>hello!!!!!</h1>
<h4>The time right now is: {{now}}</h4>
<h5>I'm hungry {{hungry}}</h5>

{% if hungry %}
  <h6>I'm hungry</h6>
{% else %}
  <h6>I'm ok</h6>
{% endif %}

context is a way sending variables to html  -->

{% comment "" %}
block -> window for children template
{% endcomment %}